@mixin flex($type: flex, $jc: center, $ai: center) {
  display: $type;
  justify-content: $jc;
  align-items: $ai;
  @content;
}

@mixin link($color: pallete.$color) {
  color: $color;
  text-decoration: none;
}

@mixin mobile {
  @media all and (orientation: portrait) and (min-width: 0px) and (max-width: 530px){
    @content;
  }
}


@mixin Xmobile {
  @media all and (orientation: portrait) and (min-width: 0px) and (max-width: 530px) and (max-height:800px){
    @content;
  }
}

@mixin tab {
  @media all and (orientation: portrait) and (min-width: 530px) and (max-width: 987px) {
    @content;
  }
}
