@use "./Component/mixin.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Space Mono", monospace;
}

body{
  overflow: hidden;
}
.header{
  background-color: hsl(185, 41%, 84%);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing:1em;
  padding: 0;
  margin: 0;
  transform: translate(42vw,10vh);
  position: absolute;
}
.card {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: hsl(185, 41%, 84%);
  gap: 10em;
  @include flex;

  &__main {
    width: 700px;
    height: 350px;
    border-radius: 1.5em;
    padding: 2.5em;
    background-color: hsl(0, 0%, 100%);
    @include flex(flex, space-between, center);

    & > * {
      width: 100%;
      height: 100%;
    }

    &--first {
      & > :nth-child(1) {
        margin: 0 0 2.5em 0;
        h3 {
          font-weight: normal;
          text-transform: capitalize;
          font-size: 1em;
        }

        div {
          width: 75%;
          padding: 0 10px;
          @include flex(flex, space-between, center);
          background-color: hsl(189, 41%, 97%);
          input {
            width: 30%;
            height: 2.1em;
            font-size: 1.2em;
            color: hsl(172, 94%, 38%);
            font-weight: 700;
            border: none;
            background-color: hsl(189, 41%, 97%);
            &:focus {
              outline: none;
            }
          }

          p.premier {
          }
        }
      }
      & > :nth-child(2) {
        h3 {
          font-weight: normal;
          font-size: 1em;
          margin: 0 0 13px 0;
          text-transform: capitalize;
        }

        div {
          @include flex(flex, space-between, center) {
            flex-wrap: wrap;
            gap: 1.5em 0em;
          }
          width: 80%;
          margin: 0 0 50px 0;
          & > * {
            width: 28%;
            background-color: hsl(183, 100%, 15%);
            height: 1.7em;
            border-radius: 0.3em;
            color: hsl(0, 0%, 100%);
            text-align: center;
            padding: 2% 2% 0 2%;
            font-size: 1.2em;
            // margin: 0 2px;
          }

          & > *:nth-child(2) {
            background-color: hsl(172, 94%, 38%);
          }
          & > *:nth-child(6) {
            background-color: hsl(189, 41%, 97%);
            color: black;
            margin: 0;
            padding: 0;
            input{
              width: 100%;
            background-color: hsl(189, 41%, 97%);
            border: none;
            height: 100%;
            border-radius: 0.3em;
            text-indent: 10px;
            &:focus{
              outline: none;
            }
            }
          }
        }
      }
      & > :nth-child(3) {
        margin: 0;
        padding: 0;
        h3 {
          font-weight: normal;
          text-transform: capitalize;
          font-size: 1em;
        }

        div {
          width: 75%;
          padding: 0 10px;
          @include flex(flex, space-between, center);
          background-color: hsl(189, 41%, 97%);
          input {
            width: 20%;
            height: 2.1em;
            font-size: 1.2em;
            color: hsl(172, 94%, 38%);
            font-weight: 700;
            border: none;
            background-color: hsl(189, 41%, 97%);
            &:focus {
              outline: none;
            }
          }

          p.premier {
            margin: 0 80% 0 0;
            padding: 0;
          }
        }
      }
    }

    &--second {
      background-color: hsl(183, 100%, 15%);
      border-radius: 0.9em;
      color: hsl(0, 0%, 100%);
      & > * {
        margin: 40px;
      }
      & > :nth-child(1) {
        @include flex(flex, space-between, center);
        & > :nth-child(1) {
          font-weight: 400;
          font-size: 1em;
          text-transform: capitalize;
          p {
            font-size: 0.7em;
          }
        }
        & > :nth-child(2) {
          font-weight: 700;
          font-size: 2em;
          color: hsl(172, 94%, 38%);
        }
      }

      & > :nth-child(2) {
        @include flex(flex, space-between, center);
        & > :nth-child(1) {
          font-weight: 400;
          font-size: 1em;
          text-transform: capitalize;
          p {
            font-size: 0.7em;
          }
        }
        & > :nth-child(2) {
          font-weight: 700;
          font-size: 2em;
          color: hsl(172, 94%, 38%);
        }
      }

      & > :nth-child(3) {
        div {
          height: 5em;
          @include flex(flex, center, end);
          button {
            height: 3em;
            width: 100%;
            background-color: hsl(172, 94%, 38%);
            border: none;
            border-radius: 0.4em;
          }
        }
      }
    }
  }
}


@include mobile {
  .header{
    background-color: hsl(185, 41%, 84%);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing:1em;
    padding: 0;
    margin: 0;
    position: relative;
    transform:none;
  }
  .card {
    margin: 0;
    padding: 0;
    @include flex(flex, center, end);
    padding: 0;
    &__main {
      margin: 0;
      height: 88vh;
      padding: 1.2em;
      border-radius: 1.5em 1.5em 0 0;
      @include flex {
        flex-direction: column;
      }
      & > * {
        width: 100%;
        height: 50%;
      }

      &--first {
        & > :nth-child(2) {
          margin: 10px 0 0 0;
          div {
            margin: 0 0 20px 0;
            @include flex(flex, center, center) {
              gap: 1.5em;
            }
            width: 100%;
            & > * {
              width: 40%;
            }
          }
        }
      }

      &--second {
        margin: 50px 0 40px 0;
        height: 40%;
        justify-self: end;
        align-self: flex-end;

        & > :nth-child(3) {
          div {
            @include flex(flex, center, center);
          }
        }
      }
    }
  }
}


@include Xmobile {
  .header{
    background-color: hsl(185, 41%, 84%);
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing:1em;
    padding: 0;
    margin: 0;
    position: relative;
    transform:none;
  }
  .card {
    margin: 0;
    padding: 0;
    @include flex(flex, center, end);
    padding: 0;
    &__main {
      margin: 0;
      height: 91vh;
      padding: 1.2em;
      border-radius: 1.5em 1.5em 0 0;
      @include flex {
        flex-direction: column;
      }
      & > * {
        width: 100%;
        height: 50%;
      }

      &--first {
        & > :nth-child(2) {
          margin: 10px 0 0 0;
          div {
            margin: 0 0 20px 0;
            @include flex(flex, center, center) {
              gap: 1.5em;
            }
            width: 100%;
            & > * {
              width: 20%;
            }
          }
        }
      }

      &--second {
        margin: 80px 0 0 0;
        height: 40%;
        justify-self: end;
        align-self: flex-end;
        & > * {
          margin:20px;
        }
        & > :nth-child(1) {
          & > :nth-child(2) {
            font-size: 1.3em;
          }
        }
  
        & > :nth-child(2) {
          @include flex(flex, space-between, center);
          & > :nth-child(1) {
            font-weight: 400;
            font-size: 1em;
            text-transform: capitalize;
            p {
              font-size: 0.7em;
            }
          }
          & > :nth-child(2) {
            font-weight: 700;
            font-size: 2em;
            color: hsl(172, 94%, 38%);
          }
        }
  
       
        & > :nth-child(3) {
          div {
            @include flex(flex, center, center);
            
            button{
              margin: 0 0 30px 0;
            }
          }
        }
      }
    }
  }
}
